<div class="container my-5">
  <!-- Componente: Encabezado -->
  <app-encabezado
    [presupuestoTotal]="getPresupuestoTotal()"
    [egresoTotal]="getEgresoTotal()"
    [ingresoTotal]="getIngresoTotal()"
    [porcentajeTotal]="getPorcentajeTotal()"
  />

  <!-- Componente: Formulario -->
  <app-formulario />

  <!-- Ingresos y Egresos en columnas-->
  <div class="row mt-4">
    <!-- Componente: Ingreso -->
    <div class="col-md-6">
      <app-ingreso />
    </div>

    <!-- Componente: Egreso -->
    <div class="col-md-6">
      <app-egreso [ingresoTotal]="getIngresoTotal()" />
    </div>
  </div>
</div>
